<div class="container">
    <div class="error text-center" *ngIf="error">
        {{error}}
    </div>

    <ng-container *ngIf="!error">
        <div *ngIf="isLoading" id="loader"></div>

        <ng-container *ngIf="!isLoading">
            <div class="books-head">
                <div class="books-filter">
                        <label class="filter__title" for="filter__input"></label>
                        <input #filterInput Autofocus type="text" class="filter__input input" id="filter__input" placeholder="Введите название"
                               (keyup)="filterBooks$.next(filterInput.value)"
                        >
                        <button class="btn btn-primary filter__clean-btn"
                                [disabled]="!filterInput.value"
                                (click)="cleanSearchInput()">Сбросить</button>
                </div>
            </div>

            <div class="filter-error" *ngIf="(sortedBooks$ | async)?.length < 1; else tableBooks">
                К сожалению, по запросу "{{filterInput.value}}" ничего не найдено.
            </div>

            <ng-template #tableBooks>
                <table mat-table matSort matSortActive="created"
                       matSortDisableClear
                       matSortDirection="asc"
                       [dataSource]="sortedBooks$ | async"
                       (matSortChange)="sortBooks$.next($event)"
                       class="mat-elevation-z8">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>
                            #
                        </th>
                        <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="image">
                        <th class="table-image" mat-header-cell *matHeaderCellDef>
                            Картинка
                        </th>
                        <td mat-cell *matCellDef="let book"><img src="{{book.image}}" alt="image"></td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="title">
                            Название
                        </th>
                        <td class="filterForm" mat-cell *matCellDef="let book"><a>{{book.title}}</a></td> <!--(click)="selectBook(book)"-->
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="price">
                            Цена
                        </th>
                        <td mat-cell *matCellDef="let book"> {{book.price | currency}} </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>
                            Описание
                        </th>
                        <td mat-cell *matCellDef="let book"> {{book.subtitle}} </td>
                    </ng-container>
                    <ng-container matColumnDef="buy">
                        <th mat-header-cell *matHeaderCellDef>
                            Приобрести
                        </th>
                        <td mat-cell *matCellDef="let book">
                            <div class="books-buttons">
                                <div class="counter">
                                    <app-counter [initialText]="'Купить'"
                                        (counterChange)="bookCounterChange$.next({id: book.id, count: $event})">
                                    </app-counter>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </ng-template>
        </ng-container>
    </ng-container>
</div>
