
<div  class="container">
<ng-container *ngIf="(books$ | async)?.length; else appEmptyCart">
    <ul>
        <li *ngFor="let book of books$ | async">
            <div>
                <img [src]="book.books.image" [alt]="book.books.title">
            </div>
            <div>
                {{ book.books.title }}
            </div>
            <div>
                {{ book.books.price | currency }}
            </div>
            <div>
                <div class="books-buttons">
                   <div class="counter">
                       <app-counter [initialText]="'Купить'"
                                    [counterValue]="book.count"
                                    (counterChange)="bookCounterChange$.next({id: book.books.id, count: $event})">
                       </app-counter>
                   </div>
                </div>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div *ngFor="let countAndPrice of calculateTotals$ | async">
            <div class="books-count">{{ countAndPrice.count }} шт.</div>
            <div class="total-price">{{ countAndPrice.price | currency }}</div>
        </div>
    </div>

</ng-container>
</div>

<ng-template #appEmptyCart>
    <app-empty-cart
        notFoundMessage="Корзина пустая!"
        resetLinkText="Вернуться на страницу книги">
    </app-empty-cart>
</ng-template>
