<app-empty-cart *ngIf="!(totalBooksCount$ | async)"
               notFoundMessage="Корзина пустая!"
               resetLinkText="Вернуться на страницу книги"
>
</app-empty-cart>

<div  class="container" *ngIf="totalBooksCount$ | async">
    <ul>
        <li *ngFor="let book of books$ | async">
            <div>
                <img [src]="book.image" [alt]="book.title">
            </div>
            <div>
                {{ book.title }}
            </div>
            <div>
                {{ book.price | currency }}
            </div>
            <div>
                <div class="books-buttons">
                   <div class="counter">
                       <app-counter [initialText]="'Купить'"
                                    (counterChange)="bookCounterChange$.next({id: book.id, count: $event})">
                       </app-counter>
                   </div>
                </div>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div>
            <div class="books-count">{{ totalBooksCount$ | async }} шт.</div>
            <div class="total-price">{{ totalBooksPrice$ | async | currency }}</div>
        </div>
    </div>

</div>

